
.sources__container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: var(--md);
  flex-wrap: wrap;
  margin-top: var(--lrg);
}

.source__button {
  background-color: var(--brand);
  padding: 0 var(--lrg);
  height: 40px;
  color: var(--white);
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.source__button__active {
  background-color: crimson;
}
.source__select__container {
  border-radius: 2px;
  /* border: 1px solid var(--brand); */
}
.source__select {
  height: 40px;
  min-width: 160px;
  max-height: 200px;
  border: none;
}
.source__option {
  color: var(--black);
  background-color: var(--white);
}